<div class="container">
  <div class="section">
    <h2>Articles for {{ categoryName }}</h2>
    <div [ngClass]="{'grid-container': true, 'single-item': articles && articles.length === 1}" *ngIf="articles && articles.length > 0; else noArticles">
      <div class="grid-item" *ngFor="let article of articles">
        <app-articlecard [article]="article"></app-articlecard>
      </div>
    </div>
    <ng-template #noArticles>
      <div class="no-articles-container">
        <div class="no-articles">
          There are no articles available for this category, please try again later
        </div>
      </div>
    </ng-template>
  </div>
</div>
