/* Card styles */
.application-blog-post-card {
  max-width: 100%;
  width: 100%;
  margin: auto;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  background-color: #2c2c2c;
  color: #ffffff;
  position: relative;
  z-index: 10;
  padding: 15px;
  box-sizing: border-box;
}

/* Hover effect */
.application-blog-post-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

/* Header styles */
.application-blog-post-card mat-card-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  background-color: #2c2c2c;
  color: #ffffff;
}

/* Category container styles */
.category-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.category-chip {
  background-color: #011a33;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 2px;
  font-size: 0.75rem;
  cursor: pointer;
  white-space: nowrap;
}

/* Image styles */
.application-blog-post-card img {
  width: 100%;
  height: auto;
  border-radius: 0 0 15px 15px;
}

/* Card content styles */
.application-blog-post-card mat-card-content {
  padding: 15px;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Lobster', cursive;
  font-size: 0.9rem;
}

/* Card actions styles */
.application-blog-post-card mat-card-actions {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: transparent;
  flex-wrap: wrap;
}

.application-blog-post-card mat-card-actions button {
  color: #ffffff;
  padding: 5px;
  min-width: 0;
}

/* Tags container styles */
.tags-container {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0;
  padding: 0 10px;
}

.tags-container mat-chip {
  margin: 2px;
  font-size: 0.75rem;
}

/* Centered chip styles */
.centered-chip {
  color: white;
  background-color: #011a33;
  margin: 5px;
  padding: 8px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 0.8rem;
}

/* Liked button styles */
.liked {
  color: red;
}

/* Span styles */
span {
  font-size: 0.65rem;
  color: #ffffff;
}

/* Responsive Styles */
@media (max-width: 400px) {
  .application-blog-post-card {
    padding: 8px;
  }

  .mat-card-title {
    font-size: 16px;
  }

  .mat-card-subtitle {
    font-size: 14px;
  }

  .mat-card-actions button, .mat-chip {
    font-size: 10px;
    padding: 4px;
  }

  .mat-card-actions span {
    display: none;
  }

  .category-chip, .tags-container mat-chip {
    font-size: 0.6rem;
    padding: 3px 6px;
  }

  .centered-chip {
    font-size: 0.7rem;
    padding: 6px;
  }

  .application-blog-post-card mat-card-content {
    font-size: 0.8rem;
  }
}

/* Media query for tablets */
@media (min-width: 401px) and (max-width: 768px) {
  .application-blog-post-card {
    padding: 12px;
  }

  .mat-card-title {
    font-size: 18px;
  }

  .mat-card-subtitle {
    font-size: 16px;
  }

  .mat-card-actions button, .mat-chip {
    font-size: 12px;
    padding: 6px;
  }

  .category-chip, .tags-container mat-chip {
    font-size: 0.7rem;
    padding: 4px 8px;
  }

  .centered-chip {
    font-size: 0.75rem;
    padding: 7px;
  }

  .application-blog-post-card mat-card-content {
    font-size: 0.85rem;
  }
}

